*.o
build
build_pic12
build_pic16
dist
*/nbproject/*
*.sublime-project
*.sublime-workspace
*.b#?
*.s#?
*.l#?
.DS_Store
momo_modules/shared/pic12/*.obj
momo_modules/mib12_sdk/funclist
momo_modules/pic12_executive/l.obj
momo_modules/mib12_sdk/l.obj