*.o
build
build_pic12
build_pic16
dist
*/nbproject/*
*.sublime-project
*.sublime-workspace
*.b#?
*.s#?
*.l#?
.DS_Store
momo_modules/shared/pic12/*.obj
l.obj
config/*.local.json
*.pyc
funclist
*.sconsign.dblite
