<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="../resources/bom_formatting/excel-2007.css"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>WellDone BOM</title>
</head>
<body>
	<table class="ExcelTable2007">
	<tr>
	<th class="heading">&nbsp;</th><th>Qty</th><th>Reference Design</th><th>Value</th><th>Footprint</th>
	<th>Description</th><th>Manu.</th><th>Manu. Part</th><th>Distributor</th><th>Distributor Part</th>
	</tr>
	<tr>
	<td class="heading">11</td><td>Test</td>
	</tr>
	</table>
</body>
</html>